.quiz-header {
    background-color: black;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.quiz-title {
    margin: 0;
}

.title-line {
    width: 200px;
    height: 4px;
    background-color: #FEE440;
    margin: 10px auto;
}

.vastuse-tekst {
    color: white;
    text-shadow: none;
    margin: 0;
}

.tagasi-nupp {
    padding: 15px 35px;
    font-size: 22px;
    background-color: #F15BB5;
    color: white;
    border: none;
    cursor: pointer;
    text-shadow: none;
}

.tagasi-nuppude-kast {
    text-align: center;
    margin-bottom: 50px;
}
