body {
    margin: 0;
}
main {
    display: flex;
    flex-direction: row;
    font-family: "Orbitron", sans-serif;
    font-style: normal; /* k천ik HTML failid, mis on selle failiga seotud, 
    saavad selle stiili, kui ei ole 체le t채psustatud t채psemalt */
    background-color: black;
    margin-bottom: 0px;
}

footer {
    background-color: #6F1A07;
    margin-left: 190px;
    margin-top: 0px;
    padding-left: 10px;
}

h1 {
    color: #64E9EE;
    text-shadow: 2px 2px #ffffff;
}

p {
    color: #64E9EE;
    text-shadow: 1px 1px #ffffff;
    font-size: 20px;
}

button {
    font-family: 'Orbitron', sans-serif;
    background-color: #FEE440;
    margin: 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 7px;
    font-size: 17px;
    border-style: solid;
    border-color: #ffef86;
    text-shadow: 2px 2px #ffffff;
}

button:hover {
    background-color: #d3be36;
    border-color: #d3be33;
    text-shadow: 2px 2px #d0d0d0;
    cursor: pointer;
}

img {
    color: white;
}

#sisukord {
    left: 0;
    top: 0;
    background-color: #3e9294;
    width: 200px;
    height: 100%;
    margin-right: 0px;
    position: fixed;
}

#eluLink, #muusikaLink, #isiksusLink, #funfactsLink {
    text-decoration: none;
    color: black;
    text-decoration: none;
}

#ulejaanud_leht {
    margin-left: 220px;
    padding: 10px;
    height: 100%;
}

#pealkirja_all_pildid {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 10px;
}

#teise_loigu_pildid {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#pilt5 {
    width: 200px;
    height: 200px;
    color: white;
}

#pilt10 {
    margin-bottom: 40px;
    color: white;
}

#footerLingid {
    text-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 7px;
    padding-bottom: 10px;
    color: white;
}

.footerLink {
    color: white;
}