main {
    display: flex;
    flex-direction: row;
    font-family: "Orbitron", sans-serif;
    font-style: normal; /* k천ik HTML failid, mis on selle failiga seotud, 
    saavad selle stiili, kui ei ole 체le t채psustatud t채psemalt */
    background-color: #64E9EE;
    margin-bottom: 0px;
}

footer {
    background-color: #6F1A07;
    margin-left: 190px;
    margin-top: 0px;
    padding-left: 10px;
}

body {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
}

#sisukord {
    left: 0;
    top: 0;
    background-color: #FEE440;
    width: 200px;
    height: 100%;
    margin-right: 0px;
    position: fixed;
}

#ulejaanud_leht {
    margin-left: 220px;
    padding: 10px;
    height: 100%;
}

#teise_loigu_pildid {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#pilt5 {
    width: 200px;
    height: 200px;
}

.mangu-konteiner {
    background-color: #64E9EE;
    padding: 40px 20px;
    max-width: none;
    margin: 0 auto;
}

.juhised-kast {
    background-color: #FEE440;
    padding: 25px;
    border-radius: 0;
    text-align: left;
    font-size: 20px;
    margin-bottom: 25px;
}

.alusta-nupp {
    display: block;
    margin: 0 auto 40px;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 0;
    background-color: #F15BB5;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
}

.kusimused {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.kusimus {
    width: 100%;
    max-width: 750px;
    display: flex;
    gap: 20px;
}

.kusimus-number {
    width: 60px;
    height: 60px;
    background-color: #FEE440;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}

.kusimus-kast {
    background-color: #F15BB5;
    padding: 30px;
    width: 100%;
    color: white;
}

.heli-rida {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.heli-nupp {
    width: 55px;
    height: 55px;
    font-size: 26px;
    background: white;
    color: #F15BB5;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.vastused label {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.vastuse-kast {
    background-color: white;
    color: #000;
    padding: 12px 16px;
    width: 100%;
}

.tulemus-kast {
    margin-top: 50px;
    background-color: #FEE440;
    padding: 25px;
    text-align: center;
    font-size: 20px;
}

.alumise-nupud {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

.alumise-nupud button {
    background-color: #F15BB5;
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    font-style: normal;
}

