.heli-rida {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.heli-nupp {
    width: 55px;
    height: 55px;
    font-size: 26px;
    background: white;
    color: #F15BB5;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.tulemus-kast {
    margin-top: 50px;
    background-color: #FEE440;
    padding: 25px;
    text-align: center;
    font-size: 20px;
}