#sisukord {
    left: 0;
    top: 0;
    background-color: #64E9EE;
    width: 200px;
    height: 100%;
    margin-right: 0px;
    position: fixed;
}

#eluLink, #muusikaLink, #isiksusLink, #funfactsLink {
    text-decoration: none;
    color: black;
    text-decoration: none;
}

#ulejaanud_leht {
    margin-left: 220px;
    padding: 10px;
    height: 100%;
}

#pealkirja_all_pildid {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 10px;
}

#teise_loigu_pildid {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#pilt5 {
    width: 200px;
    height: 200px;
}

#pilt8 {
    width: 200px;
}

#pilt9 {
    height: 298.483px;
}

#funfactsList {
    color: #64E9EE;
    text-shadow: 1px 1px #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
}

#pilt10 {
    margin-bottom: 40px;
    color: white;
}

#pilt11 {
    margin-bottom: 40px;
    margin-left: 60px;
    height: 183px;
}

#footerLingid {
    text-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 7px;
    padding-bottom: 10px;
    color: white;
}

.footerLink {
    color: white;
}
