body {
    margin: 0;
}
main {
    display: flex;
    flex-direction: row;
    font-family: "Orbitron", sans-serif;
    font-style: normal; /* kõik HTML failid, mis on selle failiga seotud, 
    saavad selle stiili, kui ei ole üle täpsustatud täpsemalt */
    background-color: black;
    margin-bottom: 0px;
}

footer {
    background-color: #F15BB5;
    margin-left: 190px;
    margin-top: 0px;
    padding-left: 10px;
}

body {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
h1 {
    color: #64E9EE;
    text-shadow: 2px 2px #ffffff;
    font-size: 50px;
}

p {
    color: #64E9EE;
    text-shadow: 1px 1px #ffffff;
    font-size: 20px;
}

button {
    font-family: 'Orbitron', sans-serif;
    background-color: #FEE440;
    margin: 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 7px;
    font-size: 17px;
    border-style: solid;
    border-color: #ffef86;
    text-shadow: 2px 2px #ffffff;
}

button:hover {
    background-color: #d3be36;
    border-color: #d3be33;
    text-shadow: 2px 2px #d0d0d0;
    cursor: pointer;
}

img {
    color: white;
}

.mangu-konteiner {
    background-color: #64E9EE;
    padding: 40px 20px;
    max-width: none;
    margin: 0 auto;
}

.juhised-kast {
    background-color:#000;
    padding: 25px;
    border-radius: 0;
    text-align: left;
    font-size: 20px;
    margin-bottom: 25px;
}

.kusimused {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.kusimus {
    width: 100%;
    max-width: 750px;
    display: flex;
    gap: 20px;
}

.kusimus-number {
    width: 60px;
    height: 60px;
    background-color: #FEE440;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}

.kusimus-kast {
    background-color: #F15BB5;
    padding: 30px;
    width: 100%;
    color: white;
}

.vastused label {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.vastuse-kast {
    background-color: white;
    color: #000;
    padding: 12px 16px;
    width: 100%;
}

.vastuse-kast.selected {/* see käib nii quiz kui lauluarvamise lehe kohta */
    background-color: #d3be36;
    border-color: #d3be33;
    text-shadow: 2px 2px #d0d0d0;
    cursor: pointer;
}

.alumise-nupud {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

.alumise-nupud button {
    background-color: #F15BB5;
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    font-style: normal;
}

    color: white;
}