main {
    display: flex;
    flex-direction: row;
    font-family: "Orbitron", sans-serif;
    font-style: normal; /* k천ik HTML failid, mis on selle failiga seotud, 
    saavad selle stiili, kui ei ole 체le t채psustatud t채psemalt */
    background-color: #64E9EE;
    margin-bottom: 0px;
}

footer {
    background-color: #6F1A07;
    margin-left: 190px;
    margin-top: 0px;
    padding-left: 10px;
}

#sisukord {
    left: 0;
    top: 0;
    background-color: #FEE440;
    width: 200px;
    height: 100%;
    margin-right: 0px;
    position: fixed;
}

#ulejaanud_leht {
    margin-left: 220px;
    padding: 10px;
    height: 100%;
}

#teise_loigu_pildid {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#pilt5 {
    width: 200px;
    height: 200px;
}